<div id="fill-blanks-lock">
    <h1>{{general.label}}</h1>
    {{#if general.description}}<p class="notes">{{{general.description}}}</p>{{/if}}
    <div class="phrase-container">
        {{#each fillInString as |char|}}

        {{#if char.isInput}}
        <input type="text" placeholder="_" value="{{char.value}}" class="fill-blanks-input" data-index="{{char.index}}">
        {{else}}
        <span class="fill-blanks-char">{{char.value}}</span>
        {{/if}}

        {{/each}}
    </div>
</div>
