<div id="image-wheel">
    <h1>{{general.label}}</h1>
    {{#if general.description}}<p class="notes">{{{general.description}}}</p>{{/if}}
    <div class="wheels-container">
        {{#each wheels as |wheel|}}

        <div class="wheel" style="{{#if wheel.isFixed}}pointer-events: none;{{/if}}transform: rotate({{wheel.rotation}}deg); width: {{wheel.sizePercent}}%;height: {{wheel.sizePercent}}%;" data-rotation="{{wheel.rotation}}">
            <div class="wheel-image"
                style="background-image: url('{{wheel.image}}');transform: scale(calc(100 / {{wheel.sizePercent}}));">
            </div>
        </div>

        {{/each}}

    </div>
</div>
