<div id="item-lock">
    <h1>{{general.label}}</h1>
    {{#if general.description}}<p class="notes">{{{general.description}}}</p>{{/if}}
    <div class="item-lock-items">
        {{#each itemSlots as |itemSlot index|}}
        {{#if itemSlot.itemName}}
        <div class="item-lock-item {{#if itemSlot.item}}has-item{{/if}}" data-index="{{index}}"
            style="background-image: url('{{#if itemSlot.item}}{{itemSlot.item.img}}{{else}}{{itemSlot.image}}{{/if}}');">
            <input type="text" name="{{itemSlot.key}}" value="{{itemSlot.uuid}}" style="display: none;">
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
