<div id="sound-lock">
    <h1>{{general.label}}</h1>
    {{#if general.description}}<p class="notes">{{{general.description}}}</p>{{/if}}
    <div class="sequence-container">
        {{#each sequenceDisplay as |chord|}}
        <div class="chord-container" data-index="{{chord.index}}" style="{{#if chord.isPause}}display:none;{{/if}}">
            <div class="chord-dot" style="bottom: {{chord.normalized}}%">
                
            </div>
        </div>
        {{/each}}
    </div>
    <div class="solution-sequence-container">
        {{#each displayNotes as |note|}}

        <span class="chord-selector" data-chord="{{note.value}}">{{note.value}}</span>

        {{/each}}
    </div>
</div>
